<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.travelsky.dao.StudentDao">
		<insert id="save" 
		parameterType="com.travelsky.entity.Student">
		insert into STUDENT (NAME,COURSE,SCORE)
		values (#{name},#{course},#{score})
	</insert>
	
	<update id="update"
		parameterType="com.travelsky.entity.Student">
		update STUDENT 
		set NAME=#{name},COURSE=#{course},
			SCORE=#{score}
		where ID=#{id}
	</update>
	

	<delete id="delete" 
		parameterType="java.lang.Integer">
		delete from STUDENT where ID=#{id}
	</delete>
	
	
	<select id="findById" 
		parameterType="java.lang.Integer"
		resultType="com.travelsky.entity.Student">
		select * from STUDENT where ID=#{id}
	</select>
	
	<select id="findAll" 
		resultType="com.travelsky.entity.Student">
		select * from STUDENT
	</select>
	
	<select id="findStuByParams"
	parameterType="com.travelsky.entity.Student"
	resultType="com.travelsky.entity.Student">
		select * from STUDENT 
		where 1 =  1
		<if test="null != id and id != 0">
				and id = #{id}
		</if>
		<if test="null != name and name != ''">
				and name like CONCAT('%','${name}','%' )
		</if>
		<if test="null != course and course != ''">
				and name like #{course} 
		</if>
		<if test="null != score and score != ''">
				and name like #{score}
				
		</if>
	
	</select>
</mapper>